* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color styles */
  --main-pink: rgba(214, 88, 179, 1);
  --main-green: rgba(69, 180, 66, 1);
  --base-white: rgba(255, 255, 255, 1);
  --base-gray-100: rgba(244, 241, 242, 1);
  --base-gray-200: rgba(233, 231, 233, 1);
  --base-gray-300: rgba(223, 220, 223, 1);
  --base-gray-400: rgba(206, 202, 205, 1);
  --base-gray-500: rgba(117, 108, 113, 1);
  --base-gray-600: rgba(74, 68, 72, 1);
  --base-gray-700: rgba(51, 43, 49, 1);
  --gradient-base: linear-gradient(
    90deg,
    #2daa6e 0%,
    #2daaaa 33.33%,
    #856ccf 66.67%,
    #d658b3 100%
  );

  /* Text-size styles */
  --font-family: "Oxygen", sans-serif;
  --heading-title-md: bold 24px/140% var(--font-family);
  --heading-title-sm: bold 18px/140% var(--font-family);
  --heading-subtitle-md: uppercase bold 14px/140% var(--font-family);
  --heading-subtitle-sm: bold 12px/140% var(--font-family);
  --body-text-md: normal 16px/140% var(--font-family);
  --body-text-sm: normal 14px/140% var(--font-family);
  --body-text-xs: normal 12px/140% var(--font-family);
}

body {
  background-color: var(--base-gray-200);
  color: var(--base-gray-500);
  font: var(--body-text-md);
}

.white {
  color: var(--base-white);
}

.green {
  color: var(--main-green);
}

.container {
  width: 100vw;
  max-width: 1000px;

  margin: 0 auto;

  padding: 32px 12px;

  @media (min-width: 768px) {
    padding: 64px 0 24px 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-areas:
      "user card card"
      "record card card"
      "record card card"
      "record progress progress";
    gap: 16px 24px;
    height: 100%;
  }
}

.progress {
  border-radius: 16px;
  border: 1px solid var(--base-gray-300);
  background: var(--base-gray-100);

  @media (min-width: 768px) {
    grid-area: progress;
  }
}
